<div class="view view--quadrant">
  <div class="layout layout--col gap--space-between">
    <div style="width: 100%;">
      <div class="w-full label label--small">{{ IDX_2.name }}</div>
    </div>

    <div class="grid grid--cols-2">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--tnums">{{ total_pageviews | number_with_delimiter }}</span>
          <span class="label">Pageviews</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--tnums">{{ total_visitors | number_with_delimiter }}</span>
          <span class="label">Visitors</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--tnums">{{ time_display }}</span>
          <span class="label">Time on Site</span>
        </div>
      </div>
    </div>
  </div>
</div>
